{% extends "base.html" %}
{% load static %}

{% block head %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<title>Caleb Carithers</title>
{% endblock %}

{% block content %}
    <div class="container my-container h-100">
<!--        <div class="row">-->
<!--            <div class="col text-center andy-title">-->
<!--                andy boyle AR Collages-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col text-center andyTitle" style="height:120px;">
<!--                <img id="andyLogo" src="{% static 'Resources/Photos/Andy-Boyle-AR/AB_logo_cut.png' %}" width="150px" class="img-fluid"/>-->
                [ A.B ]<span style="font-size: 30px;">AR</span>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col tester text-center">
                select image to augment <span style="color: lightgrey">(mobile only)</span>
            </div>
        </div>

        <div class="row ar-img text-center">
            <div class="col">
                <a href="/ar01"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/1.jpg'%}" class="img-fluid"/> </a>
            </div>
            <div class="col">
                <a href="/ar02"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/2.jpg'%}" class="img-fluid"/> </a>
            </div>
        </div>
        <div class="row ar-img text-center">
            <div class="col">
               <a href="/ar03"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/3.jpg'%}" class="img-fluid"/> </a>
            </div>
            <div class="col">
                <a href="/ar04"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/4.jpg'%}" class="img-fluid"/> </a>
            </div>
        </div>
        <div class="row ar-img text-center">
            <div class="col">
                <a href="/ar05"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/5.jpg'%}" class="img-fluid"/> </a>
            </div>
            <div class="col">
                <a href="/ar06"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/6.jpg'%}" class="img-fluid"/> </a>
            </div>
        </div>
        <div class="row ar-img text-center">
            <div class="col">
                <a href="/ar07"> <img src="{% static 'Resources/Photos/Andy-Boyle-AR/7.jpg'%}" class="img-fluid"/> </a>
            </div>
            <div class="col goaway">
                <img style="opacity:0" src="{% static 'Resources/Photos/Andy-Boyle-AR/7.jpg'%}" class="img-fluid"/>
            </div>
        </div>
    </div>
{% endblock %}