{% extends "base.html" %}
{% load static %}

{% block head %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/Resources/Scripts/index.js"></script>
<title>Caleb Carithers</title>
{% endblock %}

{% block content %}
    <div class="container my-container h-100">

        <div class="row mt-3">
            <div class="col" id="myname">
                <h1 class="mb-0" style="font-weight: bold; display: inline">caleb carithers</h1>
                <!-- <a href="{% static '/Resources/CalebCarithers_Resume.pdf' %}" target="_blank" style="color: black;"><h1 class="mb-0" style="font-weight: bold; display: inline">caleb carithers</h1></a> -->

<!--                  <a>me</a> <a>paper</a> <a>digital</a>-->
<!--                <img id="imagename" class="hide" src="/static/Resources/Photos/Name/pretti_name_smaller.svg" width="270px;" style="pointer-events:none;"/>-->
            </div>
        </div>

        <div class="row mt-3" style="position: relative">
            <div class="col hide" id="imagename" style="position: absolute; top:-58px; pointer-events: none;">
                <img src="/static/Resources/Photos/Name/pretti_name_smaller.svg" width="270px;" style="pointer-events:none;"/>
            </div>
        </div>
<!--270px - width-->
<!--        top:10px; left: 5;-->
<!--        <div class="row mt-2 mb-2 hide text-center" id="imagename" style="position: absolute; top:10px; left: 29vw; pointer-events:none;">-->
<!--            <div class="col">-->
<!--                <img src="/static/Resources/Photos/Name/pretti_name_smaller.svg" width="270px;"/>-->
<!--            </div>-->
<!--        </div>-->

    <div class="row intro-text-row first-row">

<!--LEFT COL-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 headTitleCol left-col">-->
<!--                <p class="responsiveText"><span style="font-weight: 700;">Caleb Carithers</span>: making things you [<marquee behavior="scroll" direction="left"> interact with, yell at, click on, play online,</marquee>]-->
<!--                    If you’d like to chat, <a class="rounded" href="mailto: calebcarithers@me.com">email</a> me or,-->
<!--                        grab my number from my <a class="rounded" target="_blank" href="{% static 'Resources/CalebCarithers_Resume.pdf' %}">resume</a>.</p>-->
<!--            </div>-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 right-col align-items-center">

                <div class="row my-row image-row">
                    <div class="col my-col">
                            <a href="/what-tami"><img class="hover-change rounded" src="/static/Resources/Photos/Tami/tami.png" height="150px" style="margin: auto; display: block"></a>
                    </div>
                    <div class="col-4 text-left my-col img-description my-auto" style="word-wrap: break-word;">
                        <a href="/what-tami"><p class="hover-change rounded tami" name="todayatmyinternship"><span style="font-weight: 700;">todayatmyinternship.com</span>: django, javascript, html, css</p></a>
                    </div>
                </div>

                <div class="row my-row image-row">
                    <div class="col my-col">
                            <a href="/what-news-jpg"><img class="hover-change rounded" src="/static/Resources/Photos/News_jpg/1.jpg" height="150px" style="margin: auto; display: block"></a>
                    </div>
                    <div class="col-4 text-left my-col img-description my-auto">
                        <a href="/what-news-jpg"><p class="hover-change rounded"><span style="font-weight: 700;">news.jpg</span>: python, PIL, tweepy</p></a>
                    </div>
                </div>

                <div class="row my-row image-row">
                    <div class="col my-col">
                        <a href="/what-painthead"><img class="hover-change rounded" src="/static/Resources/Photos/Painthead/1no_white.jpg" height="150px" style="margin: auto; display: block"></a>
                    </div>
                    <div class="col-4 text-left my-col img-description my-auto">
                        <a href="/what-painthead"><p class="hover-change rounded"><span style="font-weight: 700;">painthead</span>: p5.js</p></a>
                    </div>
                </div>

            </div>

<!--            <div class="col my-col text-center arrow-small-view" style="font-size: 35px; margin-top: 5vh;">-->
<!--                <a class="myButton rounded">&darr;</a>-->
<!--            </div>-->

<!--RIGHT COL-->

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 right-col align-items-center">

            <div class="row my-row image-row" id="scrollToSmall">
                <div class="col my-col">
                    <a href="/what-nebula"><img class="hover-change rounded" src="/static/Resources/Photos/Nebula/screen.png" height="150px" style="margin: auto; display: block"></a>
                </div>
                <div class="col-4 text-left my-col img-description my-auto">
                    <a href="/what-nebula"><p class="hover-change rounded"><span style="font-weight: 700;">Nebula</span>: Unity, C#</p></a>
                </div>
            </div>

            <div class="row my-row image-row">
                <div class="col my-col">
                    <a href="/what-wordplay"><img class="hover-change rounded" src="/static/Resources/Photos/Wordplay/wordplay.PNG" height="150px" style="margin: auto; display: block"></a>
                </div>
                <div class="col-4 text-left my-col img-description my-auto">
                    <a href="/what-wordplay"><p class="hover-change rounded"><span style="font-weight: 700;">wordplay</span>: p5.js</p></a>
                </div>
            </div>

            <div class="row my-row image-row">
                <div class="col my-col">
                    <a href="/what-bloonnoise"><img class="hover-change rounded" src="/static/Resources/Photos/Bloonnoise/right.jpg" height="175px" style="margin: auto; display: block"></a>
                </div>
                <div class="col-4 text-left my-col img-description my-auto">
                    <a href="/what-bloonnoise"><p class="hover-change rounded"><span style="font-weight: 700;">Bloonnoise</span>: openFrameworks, arduino</p></a>
                </div>
            </div>

        </div>

    </div>



<!--        <div class="row no-gutters arrow-big-view my-row">-->
<!--            <div class="col my-col text-center" style="font-size: 35px;">-->
<!--                <a class="myButton rounded">&darr;</a>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row mb-4">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 right-col align-items-center">

                <div class="row my-row image-row" id="scrollToBig">
                    <div class="col my-col">
                        <a href="/what-user"><img class="hover-change rounded" src="/static/Resources/Photos/User/User.jpg" height="150px" style="margin: auto; display: block"></a>
                    </div>
                    <div class="col-4 text-left my-col img-description my-auto">
                        <a href="/what-user"><p class="hover-change rounded"><span style="font-weight: 700;">User</span>: processing, arduino, ultrasonic sensor, force sensitive resistor</p></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 right-col align-items-center">
                <div class="row my-row image-row">
                    <div class="col my-col">
                        <a href="/what-i<3"><img class="hover-change rounded" src="/static/Resources/Photos/i<3/i<3.jpg" height="150px" style="margin: auto; display: block"></a>
                    </div>
                    <div class="col-4 text-left my-col img-description my-auto">
                        <a href="/what-i<3"><p class="hover-change rounded"><span style="font-weight: 700;">i&#9829;</span>: video</p></a>
                    </div>
                </div>
            </div>

        </div>

<!--        <div class="row mt-5 mb-3">-->
<!--            <div class="col text-left">-->
<!--                <a href="www.google.com">resume</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
{% endblock %}