{% extends "detail_base.html" %}
{% load static %}

{% block head %}
    <title>Andy Boyle x</title>
{% endblock %}

{% block content %}
    <div class="container my-container h-100">

        <div class="row arrow mt-2">
            <div class="col" style="font-size: 35px">
                <a class="rounded" href="/">&larr;</a>
            </div>
        </div>

        <div class="row intro-text-row mt-2">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 headTitleCol">
                    <p class="detailText"><span style="font-weight: 700;">AR Experiments w/ Andy Boyle</span>: Web based AR
                        explorations of multi-media layered collages, shot & arranged by New York based photographer
                        Andrew Boyle for Schön! Magazine<br><br>
<!--                        Augment <a class="rounded" href="/andyboyleAR">here</a>-->
<!--                        <br><br>-->
                        View in the wild <a class="rounded" href="https://schonmagazine.com/interview-bishop-briggs/" target="_blank">here</a>

                        <br>
                <a class="rounded" style="font-size: 20px;" href="https://github.com/calebcarithers/Schon-AR/" target="_blank">thoughts & source</a></p>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 headTitleCol mb-3">

                    <img class="img-fluid" src="{% static 'Resources/Photos/Andy-Boyle-AR/AR-Street.gif' %}"/>

            </div>

        </div>
    </div>
{% endblock %}