{% extends "detail_base.html" %}

{% block head %}
    <title>Nebula</title>
{% endblock %}

{% block content %}
    <div class="container my-container h-100">

        <div class="row arrow mt-2">
            <div class="col" style="font-size: 35px">
                <a class="rounded" href="/">&larr;</a>
            </div>
        </div>

        <div class="row intro-text-row mt-2">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 headTitleCol">
                    <p class="detailText"><span style="font-weight: 700;">Nebula</span>: Music video + web game for <a class="rounded" href="https://www.soundcloud.com">Admiral Raddis</a>
                        built using Unity. <br><br>

                        Play <a class="rounded" href="/play-nebula">here</a>
                        <br>
                        <a class="rounded" style="font-size: 20px;" href="https://github.com/calebcarithers/Nebula" target="_blank">thoughts & source</a>
                    </p>
            </div>


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 headTitleCol">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wSmsm1jLle0"></iframe>
                </div>
            </div>

        </div>
    </div>
{% endblock %}